doctype html
html
  head
    if pageTitle
      title #{websiteName} | enlace #{pageTitle}
    title #{websiteName}
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Acorta tus enlaces largos')
    link(href='/style.css' rel='stylesheet' type='text/css')
    block head
  body
    main
      block header
        header.header
          h1: a(href='/') #{websiteName}
          p Acorta tus enlaces largos
          hr
      block content
