doctype html
html
  head
    if pageTitle
      title #{websiteName} | enlace #{pageTitle}
    title #{websiteName}
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='robots' content="noindex")
    block head
    style
      include style.css
  body
    main
      block header
        header.header
          h1: a(href='/') #{websiteName}
          p Acorta tus enlaces largos
          hr
      block content
