doctype html
html
  head
    title #{websiteName}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style
      include style.css
  body
    main
      block header
        header.header
          h1: a(href='/') #{websiteName}
          p Acorta tus enlaces largos
          hr
      block content
