extends default

block head
  - pageTitle = 'Enlace deshabilitado'
  meta(name='robots' content='noindex')

block content
  p
    | El enlace ingresado redirecciona a una página que hemos identificado como
    | peligrosa.
  p
    | Para proteger a nuestros usuarios, hemos desactivado el enlace
    | automáticamente.
  p Si el enlace es tuyo y crees que esto fue un error, contáctanos:
  p.center: a(href='mailto:abuso@linkea.me') abuso@linkea.me
