extends default

block head
  - pageTitle = 'Enlace deshabilitado'
  meta(name='robots' content='noindex')

block content
  p El enlace ingresado redirecciona a una p치gina que puede ser peligrosa.
  p 
    | Para proteger a nuestros usuarios, hemos deshabilitado la redirecci칩n
    | autom치tica.
  p Si deseas acceder a la p치gina, a tu propio riesgo, haz click en el enlace:
  p: a.break(href=longUrl) #{longUrl}
