extends default

block head
  - pageTitle = 'Preguntas frecuentes'

block content
  h4#como ¿Cómo funciona?
  p
    | Ingresa cualquier enlace largo en el formulario y será acortado a uno más
    | pequeño para que puedas compartirlo más facilmente.
  p
    | Cuando alguien visita el enlace corto, incrementamos el contador de
    | número de clicks y redireccionamos el tráfico al enlace original.
  p
    | Puedes ver los datos de cualquier enlace corto agregando una arroba
    | "@" detrás del código corto.
  p Por ejemplo, si el enlace corto es:
  p: a(href='https://linkea.me/ejemplo') linkea.me/ejemplo
  p Los detalles se encuentran en:
  p: a(href='https://linkea.me/@ejemplo') linkea.me/@ejemplo

  h4#costo ¿Cuánto cuesta?
  p El servicio es completamente gratis y libre de anuncios publicitarios.
  p
    | Sin embargo, buscamos
    a(href='/apoyo')  donaciones
    |  voluntarias de nuestros usuarios para cubrir costos operativos y
    | mantener el sitio web activo.

  h4#seguridad ¿Es seguro?
  p
    | Como con cualquier otro sitio web, es responsabilidad de los usuarios de
    | Internet tener cuidado al hacer click en cualquier enlace.
  p
    | De todas formas, tomamos las siguientes medidas para proteger a nuestros
    | usuarios:
  ul
    li
      | Usamos el protocolo criptográfico
      a(href='https://linkea.me/tlswiki')  TLS
      |  para encriptar todo el tráfico entre tu navegador web y el servidor,
      | asi que nadie puede interceptar o modificar las conexiones.
    li
      | Deshabilitamos enlaces que han sido agregados a
      a(href='http://linkea.me/phishtank')  PhishTank
      | , un servicio que reporta URLs de "phishing" usado por empresas como
      | Yahoo, Mozilla, Avira, Kaspersky y
      a(href="https://linkea.me/friendsofphishtank")  muchas más
      | .
    li
      | Contamos con un sistema de lista negra con el cual podemos bloquear
      | ciertos dominios de ser acortados.
  p Puedes reportar un enlace a través de la siguiente sección.

  h4#abuso ¿Cómo reporto un enlace?
  p
    | Para reportar un enlace peligroso o negativo, por favor enviar un
    | correo electrónico a:
  p.center: a(href='mailto:abuso@linkea.me') abuso@linkea.me
  p
    | Si logramos verificar que el enlace va en contra de nuestros
    a(href='/terminos')  términos de uso
    |  tomaremos las siguientes medidas:
  ul
    li Deshabilitaremos el enlace corto permanentemente.
    li Agregaremos el dominio del enlace largo (original) a nuestra lista negra.
    li
      | Reportaremos el enlace original a
      a(href='https://linkea.me/phishtank')  PhishTank
      | .

  h4#duplicado ¿Puede haber enlaces cortos duplicados?
  p
    | No. Antes de acortar un enlace, verificamos que el código corto sea
    | válido y único.
  p
    | Una vez creado un enlace corto, ese código queda reservado y no se puede
    | volver a usar para redireccionar a otro enlace largo.

  h4#reservar ¿Se puede reservar enlaces?
  p
    | Estamos en proceso de incorporar un sistema de compra de enlaces cortos,
    | con el cual se puede reservar el derecho exclusivo a una frase o palabra
    | (por ejemplo, tu nombre o marca).
  p
    | Si deseas pre-registrar tu interés puedes enviar un correo a:
  p.center: a(href='mailto:ventas@linkea.me')  ventas@linkea.me

  h4#validacion ¿Se valida el enlace largo antes de acortarlo?
  p
    | Validamos el <i>formato</i> del enlace, pero no si es que la página web
    | está activa. Es responsabilidad del usuario asegurar que el enlace largo
    | esté activo.
