extends default

block content
  h4 Información que recaudamos
  p
    | Intentamos recaudar la menor cantidad de datos necesarios para poder
    | brindar este servicio.
  h5 Registros del servidor
  p
    | Los siguientes datos son enviados a nuestros servidores cada vez que
    | alguien visita y utiliza esta pagina web:
    ul
      li El URL de la página visitada
      li Dirección de IP ("IP address")
      li Agente de usuario ("user agent")
    Estos datos son retenidos por una semana.
  h4 Como usamos tu información
  p
    | Mantenemos los registros del servidor con el único propósito de
    | monitorear errores, abuso y mejorar el servicio.
  h4 Como compartimos tu información
  p No compartimos ninguna información recaudada con terceros.
  h4 Uso de "cookies"
  p
    | Usamos cookies web para prevenir abuso de nuestro formulario de
    | acortamiento de enlaces. El cookie que utilizamos es aleatorio y no
    | contienen información personal.

block footer
  a(href='/') ← volver al inicio
