extends default

block head
  - pageTitle = 'Apoya al servicio'

block content
  p
    | Este servicio es completamente gratis y no contiene anuncios que invaden
    | tu experiencia web.
  p
    | Contamos con donaciones de usuarios como tú para cubrir los costos
    | operativos del sitio web.
  p
    | Si deseas contribuir, puedes hacerlo de forma segura con PayPal:
  include includes/paypal.pug
