extends default

block head
  - pageTitle = 'Términos de uso'
  meta(name='robots' content='noindex')

block content
  p
    | Este es un servicio gratuito para facilitar el intercambio de enlaces
    | largos y debe ser usado con ese único propósito.
  p
    | Usarlo para actividades ilegales está prohibido y cualquier uso de este
    | tipo resultará en la deshabilitación del enlace y será reportado a las
    | autoridades pertinentes.
  p El software es ofrecido sin ninguna garantía.
