extends default

block content
  p
    a(href='/') linkea.me
    |  fue creado como un servicio gratuito para facilitar el
    | intercambio de enlaces largos y debe ser usado con ese único propósito.
  p
    | Usarlo para actividades ilegales está prohibido y cualquier uso de este
    | tipo resultará en la deshabilitación del enlace, y podrás ser reportado a
    | las autoridades relevantes.
  p Este servicio es ofrecido sin ninguna garantía.
