extends default

block head
  - pageTitle = 'Gracias'
  meta(name='robots' content='noindex')

block content
  p
    | ¡Gracias por tu donación! Contamos con el apoyo de usuarios como
    | tú para mantener este servicio gratis y libre de anuncios.
