html,
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 300px;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
}

main {
  line-height: 1.3;
}

header {
  text-align: center;
}

a {
  color: #00619a;
  text-decoration: none;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
}

input {
  width: 97%;
  height: 20px;
}

button {
  font-size: 16px;
  color: white;
  background-color: #00619a;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  width: 100%;
}

ol > li {
  padding-bottom: 10px;
}

footer {
  padding-bottom: 30px;
  padding-top: 10px;
}

.break {
  word-break: break-all;
}

.b0 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.t0 {
  padding-top: 0px;
  margin-top: 0px;
}

.center {
   position: relative;
   width: 100%;
   text-align: center;
}

.msg {
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}

.error {
  background-color: #ffdddd;
  color: red;
}

.success {
  background-color: #aeeac0;
  color: green;
}

#code {
  width: 213px;
}

#challenge {
  width: 186px;
  position: relative;
  top: -10px;
  left: 5px;
}
