html,
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 300px;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
}

header {
  text-align: center;
}

a {
  color: #00619a;
  text-decoration: none;
}

p a {
  word-break: break-all;
}

input {
  width: 95%;
  height: 20px;
}

button {
  font-size: 16px;
  color: white;
  background-color: #00619a;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  width: 100%;
}

.error {
  color: red;
}

#code {
  width: 207px;
}

#challenge {
  width: 180px;
  position: relative;
  top: -10px;
  left: 5px;
}
