html,
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 300px;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
}

main {
  line-height: 1.3;
}

header {
  text-align: center;
}

a {
  color: #00619a;
  text-decoration: none;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
}

button {
  font-size: 16px;
  color: white;
  background-color: #00619a;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  width: 100%;
}

li {
  padding-bottom: 10px;
}

footer {
  padding-bottom: 30px;
  padding-top: 10px;
}

.break {
  word-break: break-all;
}

.b0 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.t0 {
  padding-top: 0px;
  margin-top: 0px;
}

.center {
   position: relative;
   width: 100%;
   text-align: center;
}

.right {
   position: relative;
   width: 100%;
   text-align: right;
}

.msg {
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}

.error {
  background-color: #ffdddd;
  color: red;
}

.success {
  background-color: #aeeac0;
  color: green;
}

.fa {
  width: 30px;
  padding: 10px;
  margin: 0 2px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.fa:hover {
  opacity: 0.8;
}

.fa-copy, .fa-check {
  background: #656565;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-whatsapp {
  background: #25D366;
  color: white;
}

#copy {
  cursor: pointer;
}

#url {
  width: 97%;
  height: 20px;
}

#code {
  width: 213px;
  height: 20px;
}

#challenge {
  width: 186px;
  height: 20px;
  position: relative;
  top: -10px;
  left: 5px;
}
