html,
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 300px;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
}

h1 a {
  color: #0098F2;
  text-decoration: none;
}

input {
  width: 140px;
  height: 20px;
}

button {
  color: white;
  background-color: #0098F2;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
}

.error {
  color: red;
}

#url {
  width: 280px;
}

#challenge {
  width: 170px;
  position: relative;
  top: -10px;
  left: 10px;
}
